<p>{{service.msg}}</p>

<div id="main">
    <svg id="vb" width="600" height="400"  xmlns="http://www.w3.org/2000/svg" class="aperture" preserveAspectRatio="none">
        <g svg-path *ngFor = "let cat of service.svgs" [path]="cat.st_assvg" (click)="look(cat)"></g>
    </svg>
</div>

<div *ngIf="catast != undefined">
    <div class="row">
        <div class="col-md-6">
            <h5>Finca       : {{catast.finca}}</h5>
            <h5>Plano       : {{catast.plano_cata}}</h5>
            <h5>Declara     : {{catast.declara}}</h5>
        </div>
        <div class="col-md-6">
            <h5>Dirección   : {{catast.direccion}}</h5>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="abacus.js"></script>
