<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
      <app-map></app-map>
    </div>
    
		<div class="col-md-5">

			<div id="card-70993">
        <!--REGISTRO-->
        <div class="card" (click)="clear()">
          <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-70993" href="#reg">Registro</a>
          </div>
          <div id="reg" class="collapse">
            <div class="card-body">
              <form  [formGroup]="service.formRegister">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">
                        Nombre de usuario
                      </label>
                      <input type="name" class="form-control" formControlName="username" />
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p *ngIf="msgRef != ' '" style="color: blue;">{{msgRef}}</p>
                      </div>
                      <div class="col-md-6">
                        <button  class="btn btn-primary" style="float: right;" (click)="onRegister()">
                          Registrar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--ADMI-->
				<div class="card">
					<div class="card-header">
						 <a class="card-link" data-toggle="collapse" data-parent="#card-70993" href="#adm">Administrar</a>
					</div>
					<div id="adm" class="collapse show">
						<div class="card-body">

							<form role="form" [formGroup]="service.formAdm">
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">
                        Hashtag
                      </label>
                      <input type="name" class="form-control" formControlName="hash" />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">
                        Código
                      </label>
                      <input type="name" class="form-control" formControlName="code" />
                    </div>  
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">
                        Usuario
                      </label>
                      <input type="name" class="form-control" formControlName="user" />
                    </div> 
                  </div>

                  <div class="col-md-6">
                    <div class="row" style="margin-top: 30px;">
                      <div class="col-md-6">
                          <button type="submit" class="btn btn-primary" style="float: right; width: 100%;" (click)="iniciar()" >
                            Iniciar
                          </button >
                        </div>
                        <div class="col-md-6">
                          <a id="modal-485494" href="#create-group" role="button" data-toggle="modal" data-toggle="modal"  class="btn btn-primary" style="float: right; width: 100%;">
                            Crear grupo
                          </a>
                        </div>
                    </div>  
                  </div>

                  <div class="col-md-12">
                    <p *ngIf="msgAdm != ' '" style="color: blue;">{{msgAdm}}</p>
                  </div>

                </div>
              </form>
						</div>
					</div>
        </div>
        <!--GEST-->
				<div class="card">
					<div class="card-header">
						 <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-70993" href="#gst">Gestionar</a>
					</div>
					<div id="gst" class="collapse">
						<div class="card-body">
							<form role="form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">
                        Hashtag
                      </label>
                      <input type="email" class="form-control" id="exampleInputEmail1" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputPassword1">
                        Código
                      </label>
                      <input type="password" class="form-control" id="exampleInputPassword1" />
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right;">
                      Iniciar
                    </button>
                  </div>
                </div>
              </form>
						</div>
					</div>
        </div>
        <!--USER-->
        <div class="card">
					<div class="card-header">
						 <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-70993" href="#obs">Monitorear</a>
					</div>
					<div id="obs" class="collapse">
						<div class="card-body">
							<form role="form">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="exampleInputEmail1">
                        Hashtag
                      </label>
                      <input type="email" class="form-control" id="exampleInputEmail1" />
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right;">
                      Iniciar
                    </button>
                  </div>
                </div>
              </form>
						</div>
					</div>
        </div>
      </div>
      <!--TABLE-->
      <div class="row" *ngIf="groupInfo != undefined">
        <div class="col-md-12" style="margin-top: 20px;">
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-6" >
              <h4 >{{groupInfo.g_nombre}}</h4>
            </div>
            <div class="col-md-6" >
              <button class="btn btn-primary" style="float: right;" href="#create-code" role="button" data-toggle="modal" data-toggle="modal">
                Crear código
              </button>
            </div>
          </div>
          
          <table class="table">
            <thead>
              <tr>
                <th>
                  Código
                </th>
                <th>
                  Rol
                </th>
                <th>
                  Acción
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let code of codes">
                <td>
                  {{code.g_codigo}}
                </td>
                <td>
                  {{code.g_rol}}
                </td>
                <td style="text-align: center;">
                  <button class="btn btn-primary" style="float: left;" (click)="deleteCode(code)">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

		</div>
	</div>
</div>

      
<!--MODAL CREATE GROUP-->
<div class="modal fade" id="create-group" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">
          Crear grupo
        </h5> 
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="service.formGroup">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">
                  Nombre del grupo
                </label>
                <input type="name" class="form-control" formControlName="name" />
              </div>  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">
                  Hashtag
                </label>
                <input type="name" class="form-control" formControlName="hash" />
              </div>  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">
                  Código
                </label>
                <input type="name" class="form-control" formControlName="code" />
              </div>  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">
                  Funcionalidad
                </label>
                <input type="name" class="form-control" formControlName="fun" />
              </div>  
            </div>

            <div class="col-md-6">
              <p *ngIf="msgRef != ' '" style="color: blue;">{{msgRef}}</p>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" (click)="onCreateGroup()">
          Guardar
        </button> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!--MODAL CREATE CODE-->
<div class="modal fade" id="create-code" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">
          Crear Código
        </h5> 
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="service.formCode">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">
                  Código
                </label>
                <input type="name" class="form-control" formControlName="code" />
              </div>  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">
                  Rol
                </label>
                <input type="name" class="form-control" formControlName="role" />
              </div>  
            </div>

            <div class="col-md-6">
              <p *ngIf="msgRef != ' '" style="color: blue;">{{msgRef}}</p>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" (click)="onCreateCode()">
          Guardar
        </button> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
